/*General=======================================================================*/
:root{
    font-size: 62.5%; /* Os navegadores costumam ter por padrão font-size de 16px, com essa alteração => 1rem = 10px, o que nos permite trabalhar com rem, que é uma unidade de medida relativa, o que permite melhor uma adaptação da aplicação. */
    
    --brand: #00856F;
    --brand-dark: #00453A;
    --brand-light-1: #DCE9E2;
    --brand-light-2: #F7F9F9;
    --headline: #212529;
    --paragraph:  #495057;
    --brand-beige: #FFFAF1;

    --nav-height: 7.2rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth; /* Esta propriedade [scroll-behavior] serve para mexer no comportamento da roalgem. Valor "smooth" tetermina que o html rolará suavemente. */
}

body{
    width: 100%;
    height: 100%;
    font-family: 'DM Sans';
    font-size: 1.6rem;
    text-align: center;
    overflow: overley;
    background-color: var(--brand-light-2);
}

.wrapper{
    width: min(100%, 50rem);
    margin-inline: auto; /* A propriedade margin-inline aplica o preenchimento em ambos os lados no sentido horizontal (margin-right + margin-bottom), enquanto que a propriedade margin-block aplica o preenchimento em ambos os lados no sentido vertical (margin-top + margin-bottom). */
    padding-inline: 2.4rem; /* As propriedades padding-inline e padding-block seguem o mesmo conceito descrito no comentário a cima. */
}

section{
    padding-block: 10rem;
}

h4{
    margin-bottom: 1.6rem;
    font-weight: 700;
    font-size: 1.4rem;
    text-transform: uppercase;
    line-height: 150%;
    letter-spacing: 0.08em;
    color: var(--brand);
}

h2{
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.9rem;
    color: var(--headline);
}

p{
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 150%;
    color: var(--paragraph);
}

img{
    max-width: 100%;
}

/*NavBar======================================================================*/
nav{
    width: 100%;
    height: var(--nav-height);
    display: flex;
    position: fixed;
    top: 0;
    z-index: 15;
}

nav.scroll{
    overflow-y: hidden;
    background-color: var(--brand);
}

nav.scroll .logo svg path{
    fill: white;   
}

nav.scroll .open-menu svg path{
    stroke: white;
}

nav .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .menu, nav .close-menu{
    opacity: 0;
    visibility: hidden;
    position: fixed
}

/*NavBar Expanded=============================================================*/
.menu-expanded{
    overflow: hidden;
}

.menu-expanded .open-menu{
    visibility: hidden;
    opacity: 0;
}

.menu-expanded > :not(nav){
    visibility: hidden;
}

.menu-expanded .menu,
.menu-expanded .close-menu{
    opacity: 1;
    visibility: visible;
}

.menu{
    transform: translateY(100%);
}

.menu-expanded .menu{
    width: 100vw;
    height: 100vh;
    padding-top: var(--nav-height);
    top: 0;
    left: 0;
    overflow: hidden;
    transition: transform 300ms;
    transform: translateY(0);
    background-color: var(--brand);
}

.menu-expanded .logo, .menu-expanded .close-menu{
    position: relative;
    z-index: 10;
}

.menu-expanded .logo svg path{
    fill: white;
}

.menu li{
    width: min-content;
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    margin-inline: auto;
    margin-top: 6rem;

    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;
}

.menu li a{
    color: white;
    text-decoration: none;
}

.menu a.button{
    display: inline-block;
    margin-top: 4.8rem;
    margin-bottom: 8rem;
    padding: 1.6rem 3.2rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: var(--brand);
    text-decoration: none;
    text-transform: uppercase;
    line-height: 2.3rem;
    font-size: 1.8rem;
    font-weight: 700;
    border-radius: 4rem;
    background-color: white;
}

.menu a.button:hover{
    color: var(--brand-light-2);
    background-color: var(--brand);
    filter: brightness(1.3);
}

#Menu_Social_Links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
    list-style: none;
}

/*Home========================================================================*/
#Home{
    padding-block: 0;
    padding-top: calc(4.1rem + var(--nav-height));
    justify-content: center;
}

#Home::before{ /* Este recurso está sendo usado para criar um elemento HTML pelo CSS. Este elemento servirá de pano de fundo para o header. */
    content: ''; /* Criando uma caixa com conteúdo vazio. */
    width: 100%;
    height: calc(76% + var(--nav-height));
    background-color: var(--brand-light-1);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#Home .wrapper .col-a h1{
    color: var(--headline);
    line-height: 130%;
    margin-bottom: 2.4rem;
}

#Home p{
    font-size: 1.8rem;
    color: var(--paragraph);
    line-height: 150%;
    font-weight: 400;
    margin-bottom: 3.2rem;
}

#Home a{
    width: 26.5rem;
    height: 5.5rem;
    padding: 1.6rem 2.5rem;
    border-radius: 4rem;
    border: none;
    margin-inline: auto;
    margin-bottom: 6rem;


    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;

    transition: 0.2s;

    background-color: var(--brand);
}

#Home a:hover{
    background-color: var(--brand-dark);
}

#Home img{
    width: 26.4rem;
    display: block;
    margin-inline: auto;
    object-position: 0 2rem;
}

#Home .stats{
    width: 100%;
    align-self: center;
    padding-block: 4rem; 

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;

    background-color: var(--brand-beige);
    border: 1px solid var(--brand-light-1);
}

#Home .stats .stat h3{
    font-size: 4.8rem;
    color: var(--headline);
    line-height: 130%;
    margin-bottom: 0.4rem;
}

#Home .stats .stat p{
    margin: 0;
    color: var(--brand);
    
}

/*Services====================================================================*/
#Services h2{
    margin-bottom: 6rem;
}

#Services #Services_Cards .card{
    height: 20.7rem;
    margin-bottom: 3.2rem;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    text-align: left;
    padding: 2.3rem;
    border: 1px solid var(--brand-light-1);
    background-color: white;
}

#Services #Services_Cards .card svg{
    width: 2.4rem;
    height: 2.4rem;
}

#Services #Services_Cards .card h3{
    font-size: 2.4rem;
    line-height: 3.1rem;
    color: var(--headline);
}

/*About=======================================================================*/
#About_Us{
    background-color: var(--brand-beige);
}

#About_Us h4{
    text-align: left;
}

#About_Us h2{
    text-align: left;
    margin-bottom: 2.4rem;
}

#About_Us p{
    text-align: left;
    margin-bottom: 6rem;
}

#About_Us img{
    width: 32.7rem;
    height: 28.2rem;
    border-radius: 2rem;
}

/*Contacts====================================================================*/
#Contacts h2{
    width: 29.7rem;
    margin-bottom: 3.2rem;
    text-align: left;
}

#Contacts ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.6rem;
}

#Contacts ul li svg{
    margin-right: 0.8rem;
}

#Contacts a{
    width: 26.7rem;
    height: 5.6rem;
    padding: 1.6rem 2.5rem;
    border-radius: 4rem;
    border: none;
    margin-top: 3.2rem;
    margin-bottom: 6rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;

    transition: 0.2s;

    background-color: var(--brand);
}

#Contacts a:hover{
    background-color: var(--brand-dark);
}

/*Footer======================================================================*/
footer{
    padding-block: 6rem;
    text-align: left;
    background-color: var(--brand);
}

footer svg{
    margin-bottom: 2.4rem;
}

footer p{
    line-height: 2.1em;
    font-size: 1.6rem; 
    color: var(--brand-beige);
    margin-bottom: 3.2rem;
}

footer ul{
    width: min-content;
    height: 2.4rem;
    display: flex;
    flex-direction: row;
    gap: 3.2rem;
    list-style: none;
}

/*Back to top button==========================================================*/
#Back_To_Top_Button{
    position: fixed;
    bottom: 1rem;
    right: 2.5rem;
    opacity: 0;
    transition: 0.2s;
    visibility: hidden;
}

#Back_To_Top_Button.show{
    opacity: 1;
    visibility: visible;
}

/*Responsivo==================================================================*/
@media (min-width: 102.4rem) {
    /*General===================================================================*/
    body{
        overflow: auto;
    }

    selection{
        padding-block: 16rem;
    }

    selection h2{
        font-size: 4rem;
        line-height: 5.2rem;
    }

    .wrapper{
        width: min(112rem, 100%);
        display: grid;
    }

    .col-a{
        grid-area: A;
    }

    .col-b{
        grid-area: B;
    }

    /*NavBar====================================================================*/
    nav#Navigation div.wrapper *{
        margin: 0;
        padding: 0;
        visibility: initial;
        display: initial;
        opacity: initial;
        flex-direction: initial;
        position: initial;
        font-size: initial;
        font-weight: initial;
        color: initial;
        background-color: initial;
        filter: initial;
    }

    nav#Navigation div.wrapper div.menu{
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        transform: translateY(0);
    }

    nav#Navigation div.wrapper div.menu ul#Menu_Options{
        display: flex;
        gap: 3.2rem;
    }

    nav#Navigation div.wrapper div.menu ul#Menu_Options li a{
        color: var(--brand);
        opacity: 0.6;
        transition: opacity 0.4s;
    }

    nav#Navigation div.wrapper div.menu ul#Menu_Options li a.actived,
    nav#Navigation div.wrapper div.menu ul#Menu_Options li a:hover{
        opacity: 1;
        font-weight: 700;
    }

    nav#Navigation div.wrapper div.menu ul#Menu_Options li a::after{
        content: '';
        width: 0%;
        height: 2px;
        display: block;
        background-color: var(--brand);
        position: relative;
        bottom: -1.9rem;
        left: -0.7rem;
        transition: width 0.2s;
    }

    nav#Navigation div.wrapper div.menu ul#Menu_Options li a.actived::after,
    nav#Navigation div.wrapper div.menu ul#Menu_Options li a:hover::after{
        width: 100%;
        padding-inline: 0.8rem;
    }

    nav#Navigation div.wrapper div.menu a.button{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 2.4rem;
        border:  1px solid var(--brand);
        color: var(--brand);

        font-weight: 700;
        font-size: 1.4rem;
        line-height: 1.8rem;
        text-transform: uppercase;
    }
    
    nav#Navigation div.wrapper div.menu a.button:hover{
        background-color: var(--brand);
        color: var(--brand-light-2);
        border: none;
    }

    nav#Navigation div.wrapper a.close-menu,
    nav#Navigation div.wrapper a.open-menu,
    nav#Navigation div.wrapper div.menu ul#Menu_Social_Links{
        display: none;
    }

    /*NavBar Expanded===========================================================*/
    nav#Navigation.scroll div.wrapper div.menu ul#Menu_Options li a{
        color: var(--brand-light-2);
        opacity: 0.6;
        transition: opacity 0.4s;
    }

    nav#Navigation.scroll div.wrapper div.menu ul#Menu_Options li a.actived,
    nav#Navigation.scroll div.wrapper div.menu ul#Menu_Options li a:hover{
        opacity: 1;
        font-weight: 700;
    }

    nav#Navigation.scroll div.wrapper div.menu ul#Menu_Options li a::after{
        content: '';
        width: 0%;
        height: 2px;
        display: block;
        background-color: white;
        color: white;
        position: relative;
        bottom: -1.9rem;
        left: -0.7rem;
        transition: width 0.2s;
    }

    nav#Navigation.scroll div.wrapper div.menu ul#Menu_Options li a.actived::after,
    nav#Navigation.scroll div.wrapper div.menu ul#Menu_Options li a:hover::after{
        width: 100%;
        padding-inline: 0.8rem;
    }

    nav#Navigation.scroll div.wrapper div.menu a.button{
        color: var(--brand-light-2);
        border-color: var(--brand-light-2);
    }

    nav#Navigation.scroll div.wrapper div.menu a.button:hover{
        background-color: var(--brand);
        filter: brightness(1.3);
        border: none;
    }

    /*Home======================================================================*/
    header#Home{
        padding-top: var(--nav-height);
    }

    header#Home::before{
        height: calc(96% - var(--nav-height));
    }
    
    header#Home div.wrapper{
        grid-template-columns: 60rem 1fr;
        grid-template-areas: /* Esta propriedade do grid serve para criar e nomear as áreas da matriz da forma que se quiser. */
        'A B'
        'C C';
    }

    header#Home div.col-a{
        text-align: left;
        align-self: center;
    }

    header#Home h1{
        width: 60.5rem;
        font-size: 5.2rem;
        line-height: 130%;
    }

    header#Home div.col-a p{
        font-size: 1.8rem;
    }

    header#Home div.col-a a{
        margin: 0;
    }

    header#Home div.col-b img{
        width: 42rem;
    }

    header#Home div.stats{
        grid-area: C;
        flex-direction: row;
        padding: 6rem;
        gap: 0;
    }

    header#Home div.stats div.stat{
        flex: 1; /* Esta propriedade é aplicada os filhos de elementos que tenham o display flex. Ao colocarmos valor 1 ela fará com que todos os elemntos filhos a mesma largura, seria algo semelhante ao 1fr do grid. */
    }

    header#Home div.stats .stat + .stat{ /* Esta sintaxe significa: "Procure dentro da div.stats do header#Home os elementos.stat que tenham um elemento.stat anterior a si". */
        border-left: 1px solid var(--brand);
    }

    /*Services==================================================================*/
    section#Services header h2{
        width: 49.7rem;
        font-size: 4rem;
        line-height: 5.2rem;
        margin-inline: auto;
    }

    section#Services div#Services_Cards{
        display: flex;
        gap: 4rem;
        padding: 0;
        flex-direction: row;
        flex-wrap: wrap; /* Esta propriedade fara com que o tamanho do cardseja respeitado. */
    }

    section#Services div#Services_Cards div.card{
        width: 33rem;
        gap: 1.6rem;
        padding: 1.8rem;
        margin: 0;
    }

    section#Services div#Services_Cards div.card svg{
        width: 2.4rem;
        height: 2.4rem;
    }

    /*About=====================================================================*/
    section#About_Us div.wrapper{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'B A';
    }

    section#About_Us div.wrapper div.col-a{
        align-self: center;
    }

    section#About_Us div.wrapper div.col-a h2{
        font-size: 4rem;
        width: 44.7rem;
        line-height: 5.2rem;
    }

    section#About_Us div.wrapper div.col-a p{
        margin-bottom: 0;
    }

    section#About_Us div.wrapper div.col-b{
        text-align: left;
    }

    section#About_Us div.wrapper div.col-b img{
        width: 90%;
        height: 100%;
        margin: 0;
        border-radius: 2rem;
    }

    /*Contacts==================================================================*/
    section#Contacts div.wrapper{
        grid-template-columns: 1fr 57.5rem;
        grid-template-areas: 'A B';
    }

    section#Contacts div.wrapper div.col-a{
        align-self: center;
        margin: 0;
    }

    section#Contacts div.wrapper div.col-a h2{
        width: 40.4rem;
        font-size: 4rem;
        line-height: 5.2rem;
    }

    /*Footer====================================================================*/
    footer{
        padding-block: 8rem;
    }

    footer div.wrapper{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'A B';
    }

    footer div.wrapper div.col-a{
        align-self: center;
    }

    footer div.wrapper div.col-a p{
        margin-bottom: 0;
    }

    footer div.wrapper div.col-b{
        align-self: center;
        justify-self: end;
    }
}

/* Made by: Yan Félix. */